/***** Web Fonts *****/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?za1o0');
    src: url('fonts/icomoon.eot?za1o0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?za1o0') format('truetype'),
    url('fonts/icomoon.woff?za1o0') format('woff'),
    url('fonts/icomoon.svg?za1o0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/***** General Styles *****/
html, body {
    font-size: 16px;
    line-height: 1;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/***** Styles *****/
.background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

#particles {
    height: 100%;
    width: 100%;
}

#particles > div {
    opacity: 0.55;
}

.container {
    margin-top: -75px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 0;
    /*margin: 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.91);
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.name {
    margin: 0;
    text-align: center;
    font-size: 7.35rem;
    letter-spacing: -0.1rem;
    font-style: normal;
    font-weight: 900;
}

.avatar {
    display: block;
    margin: 0 auto;
    background: rgba(86, 80, 78, 0.64);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: solid 2px #1b1b1b;
    transition: transform 100ms ease-in-out;
}

.avatar:hover {
    transform: rotate(3deg);
}

.description {
    font-size: 1.03rem;
    line-height: 0;
    letter-spacing: 0.135rem;
    margin: -0.35rem 0 0 0;
    padding: 0 0 0 14.3rem;
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
}

.email {
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    width: auto;
    font-weight: 300;
    background: #b02824;
    border-radius: 50px;
    border: solid 1px #b02824;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.5s ease;
}

.email:hover {
    background: #4b4b49;
}

/***** Footer *****/
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
}

.marks {
    font-size: small;
    line-height: 35px;
    color: #737373;
}

.marks > a {
    color: #737373;
}

.marks > a:hover {
    text-decoration: underline;
}

.social {
    margin: 0 0.5rem;
    color: rgba(255, 255, 255, 0.93);
    font-size: 40px;
    transition: all 0.5s ease;

    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.vk:hover {
    color: #4a76a8;
    transition: all 0.5s ease;
}

.vk:before {
    content: "\e903";
}

.fb:hover {
    color: #4267b2;
    transition: all 0.5s ease;
}

.fb:before {
    content: "\e900";
}

.ig:hover {
    color: #db3670;
    transition: all 0.5s ease;
}

.ig:before {
    content: "\e904";
}

.li:hover {
    color: #1887bc;
    transition: all 0.5s ease;
}

.li:before {
    content: "\e901";
}

.gh:hover {
    color: #24292e;
    transition: all 0.5s ease;
}

.gh:before {
    content: "\e902";
}

.marks {
    color: white;
    text-decoration: none;
    align-self: flex-end;
    font-family: Arial;
    font-size: 10px;
}

/***** Responsiveness *****/
@media all and (min-width: 741px) {
    .desktop-hidden {
        display: none;
    }
}

@media all and (max-width: 740px) {
    html, body {
        font-size: 10px;
    }

    .mobile-hidden {
        display: none;
    }

    .description {
        text-align: center;
        padding-left: 0;
        margin-top: 1.3rem;
    }

    .email {
        display: block;
        padding: 1.35rem 1.5rem;
        font-size: 1.4rem;
        margin-top: 2rem;
    }
}

@media all and (max-width: 600px) {
    html, body {
        font-size: 9px;
    }

    .email {
        margin: 1.45rem 1.5rem;
        font-size: 1.5rem;
    }

    .social {
        font-size: 37px;
    }
}

@media all and (max-width: 480px) {
    html, body {
        font-size: 8px;
    }

    .email {
        margin: 1.55rem 1.5rem;
        font-size: 1.6rem;
    }

    .social {
        font-size: 34px;
    }
}

#particles > div {
    transform: scale(1.17) translateX(-7%);
}
