/***** General Styles *****/
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    background-color: #000;
    color: #e5e7eb;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 900;
}

@media all and (max-width: 768px) {
    html, body {
        font-size: 18px;
    }
}

@media all and (max-width: 480px) {
    html, body {
        font-size: 16px;
    }
}
